<Background
  class="border-none"
  @image="/images/fast.jpg"
  ...attributes
>
  <h1 class="text-6xl text-center p-5 rounded">
    Real Time Applications with Ember.js
  </h1>
</Background>

{{yield this}}
