<div
  ...attributes
  class="slide-bordered"
>
  <div class="flex flex-wrap justify-center items-center">
    <img src="/images/twitter-site.png" alt="twitter screen" style="max-height:500px">
    <img src="/images/facebook-site.png" alt="twitter screen" style="max-width:500px;margin-left:100px">
  </div>
</div>

{{yield this}}
